* {
box-sizing: border-box
}
input[type=text] {
width: 25%;
box-sizing: border-box;
border: 2px solid #ccc;
font-size: 1em;
background-color: transparent;
color: #fff;
padding: 12px 20px 12px 40px;
-webkit-transition: width .4s ease-in-out;
transition: width .4s ease-in-out;
margin-bottom: 1em;
border-radius: 10px;
text-align: center;
outline: 0
}
input[type=text]:focus {
width: 100%;
color: #63c0f5;
text-shadow: 0 0 5px rgba(104,182,255,.5)
}
#table {
border-collapse: collapse;
width: 100%;
border: 1px solid #ddd;
font-size: 18px
}
#table td,#table th {
text-align: left;
padding: 12px
}
#table tr {
border-bottom: 1px solid #ddd
}
#table tr.header,#table tr:hover {
cursor: pointer
}
.sticky {
position: -webkit-sticky;
position: sticky;
top: 0;
}

/* theme: jekyll-theme-hacker */
.highlight,.highlight .w {
color: #d0d0d0
}
.highlight table td {
padding: 5px
}
.highlight table pre {
margin: 0
}
.highlight .err {
color: #151515;
background-color: #ac4142
}
.highlight .c,.highlight .c1,.highlight .cd,.highlight .cm,.highlight .cs {
color: #888
}
.highlight .cp,.highlight .o,.highlight .ow {
color: #f4bf75
}
.highlight .p,.highlight .pi {
color: #d0d0d0
}
.highlight .gi {
color: #90a959
}
.highlight .gd {
color: #ac4142
}
.highlight .gh {
color: #6a9fb5;
font-weight: 700
}
.highlight .k,.highlight .kn,.highlight .kp,.highlight .kr,.highlight .kv {
color: #aa759f
}
.highlight .kc,.highlight .kd,.highlight .kt {
color: #d28445
}
.highlight .s,.highlight .s1,.highlight .s2,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .sh,.highlight .sx {
color: #90a959
}
.highlight .sr {
color: #75b5aa
}
.highlight .se,.highlight .si {
color: #8f5536
}
.highlight .nc,.highlight .nn,.highlight .no,.highlight .nt {
color: #f4bf75
}
.highlight .na {
color: #6a9fb5
}
.highlight .il,.highlight .m,.highlight .mb,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .mx,.highlight .ss {
color: #90a959
}
body,h1,h2,h3,h4,h5,h6,header h1 {
font-family: Monaco,"Bitstream Vera Sans Mono","Lucida Console",Terminal,monospace
}
body {
margin: 0;
padding: 0;
background: #151515 url(img/bkg.png) 0 0;
color: #eaeaea;
font-size: 16px;
line-height: 1.5
}
.container {
width: 90%;
max-width: 1000px;
margin: 0 auto
}
section,table {
margin: 0 0 20px
}
section {
display: block
}
h1,h2,h3,h4,h5,h6,header h1 {
color: #b5e853;
text-shadow: 0 1px 1px rgba(0,0,0,.1),0 0 5px rgba(181,232,83,.1),0 0 10px rgba(181,232,83,.1)
}
h1,h2,h3,h4,h5,h6 {
margin: 0 0 20px;
font-weight: 400;
letter-spacing: -.03em
}
li {
line-height: 1.4
}
header {
background: rgba(0,0,0,.1);
width: 100%;
padding: 20px 0;
margin: 0 0 40px
}
#main_content,header h1 {
-webkit-font-smoothing: antialiased
}
header h1 {
line-height: 1.5;
margin: 0 0 0 -40px;
letter-spacing: -1px
}
@media (max-width:1000px) {
header h1 {
margin-left: 0
}
}
header h1:before {
content: "./ ";
font-size: 24px
}
header h2 {
font-weight: 300;
color: #666
}
#downloads .btn {
text-align: center;
margin: 0
}
#main_content {
width: 100%
}
section img {
max-width: 100%
}
#main_content h1,header h1 {
font-size: 30px
}
#main_content h2 {
font-size: 24px
}
#main_content h3,header h2 {
font-size: 18px
}
#main_content h4 {
font-size: 14px
}
#main_content h5,#main_content h6 {
font-size: 12px;
text-transform: uppercase;
margin: 0 0 5px
}
#main_content h6 {
color: #999
}
.btn,dt,header h1 {
font-weight: 700
}
dt {
font-style: italic
}
ul li {
list-style-image: url(img/bullet.png)
}
blockquote {
color: #aaa;
padding-left: 10px;
border-left: 1px dotted #666
}
code.highlighter-rouge,pre {
background: rgba(0,0,0,.9);
border: 1px solid rgba(255,255,255,.15);
border-radius: 2px
}
pre {
padding: 10px;
font-size: 16px;
color: #b5e853;
word-wrap: normal;
overflow: auto;
overflow-y: hidden
}
code.highlighter-rouge {
padding: 0 3px;
margin: 0 -3px;
color: #aa759f
}
table {
width: 100%
}
header,hr,th {
border-bottom: 1px dashed #b5e853
}
th {
text-align: left
}
td,th {
padding: 5px 10px
}
hr {
height: 0;
border: 0;
color: #b5e853
}
#downloads .btn,.btn,.btn .icon {
display: inline-block
}
.btn {
background: -webkit-linear-gradient(top,rgba(40,40,40,.3),rgba(35,35,35,.3) 50%,rgba(10,10,10,.3) 50%,rgba(0,0,0,.3));
padding: 8px 18px;
border-radius: 50px;
border: 2px solid rgba(0,0,0,.7);
border-bottom: 2px solid rgba(0,0,0,.7);
border-top: 2px solid #000;
color: rgba(255,255,255,.8);
font-family: Helvetica,Arial,sans-serif;
font-size: 13px;
text-decoration: none;
text-shadow: 0 -1px 0 rgba(0,0,0,.75);
box-shadow: inset 0 1px 0 rgba(255,255,255,.05)
}
.btn:hover {
background: -webkit-linear-gradient(top,rgba(40,40,40,.6),rgba(35,35,35,.6) 50%,rgba(10,10,10,.8) 50%,rgba(0,0,0,.8))
}
.btn .icon {
width: 16px;
height: 16px;
margin: 1px 8px 0 0;
float: left
}
.btn-github .icon {
opacity: .6;
background: url(img/blacktocat.png) 0 0 no-repeat
}
a {
color: #63c0f5;
text-shadow: 0 0 5px rgba(104,182,255,.5);
text-decoration: none
} a:hover {
text-decoration: underline
}
.cf:after,.cf:before {
content: "";
display: table
}
.cf:after {
clear: both
}
.cf {
zoom: 1
}
#a-title {
text-decoration: none
}
